[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psychopy = "*"

[dev-packages]
notebook = "*"
jupyter-book = "*"
jupyter-contrib-nbextensions = "*"
flake8 = "*"
pycodestyle_magic = "*"

[requires]
python_version = "3.8"
